rainmaker-pgr=https://raw.githubusercontent.com/cscl-git/rainmaker-customisation/master/configs/reports/configs/pgr-reports.yml
rainmaker-pt=https://raw.githubusercontent.com/egovernments/punjab-rainmaker-customization/master/configs/reports/configs/pt-reports.yml
rainmaker-tl=https://raw.githubusercontent.com/cscl-git/rainmaker-customisation/master/configs/reports/configs/tl-reports.yml
rainmaker-pr=https://raw.githubusercontent.com/cscl-git/rainmaker-customisation/master/configs/reports/configs/prscp-reports.yml
rainmaker-pm=https://raw.githubusercontent.com/cscl-git/rainmaker-customisation/master/configs/reports/configs/pm-reports.yml
rainmaker-pension=https://raw.githubusercontent.com/cscl-git/rainmaker-customisation/master/configs/reports/configs/pension-reports.yml
rainmaker-rp=https://raw.githubusercontent.com/cscl-git/rainmaker-customisation/master/configs/reports/configs/rp-reports.yml
rainmaker-bk=https://raw.githubusercontent.com/sanjay-sanjayyadav/my-dev-team/master/bk-reports.yml